.c-main-menu {
  text-align: center;

  @include mq($max: $lg) {
    margin: 0 -15px;
    padding: 25px 0;
    text-align: left;
  }
}

.c-main-menu__list {
  .menu-item__icon {
    position: absolute;
    top: 0;
    left: calc(50% + 110px);
    width: 50px;
    height: 50px;
    z-index: 2;
    transition: all 0.3s linear;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("../../img/icons/menu-arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 0.3s ease-in-out;
    }

    @include mq($lg) {
      display: none;
    }
  }

  .active {
    .menu-item__icon {
      transform: rotate(-90deg);
    }
  }

  .menu-item {
    display: block;    

    @include mq($max: $lg) {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 310px;
        height: 1px;
        background-color: #E5E5E5;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    @include mq($lg) {
      display: inline-block;
    }

    & > a {
      display: block;
      letter-spacing: 0.1em;
      padding: 17px 8px 12px;
      @include font(mid, 21, 400);
      color: #fff;
      text-transform: uppercase;

      @include mq($max: $lg) {
        max-width: 310px;
        margin: auto;
        padding: 15px 32px;
      }
    }

    &:not(:last-child) {      
      @include mq($lg) {
        margin-right: 30px;
      }
    }

    &.has-cats-dropdown {
      & > a {
        position: relative;        
        transition: all 0.2s ease-in-out;

        @include mq($lg) {
          padding-right: 26px;

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: 20px;
            height: 20px;
            background-image: url("../../img/icons/menu-arrow.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      &:hover {
        & > a {
          font-weight: 900;
          &:after {
            transform: translateY(-50%) rotate(-90deg);
          }
        }
      }
    }
  }
}