.c-mega-menu-holder {
  background: #fff;
  display: none;

  @include mq($max: $lg) {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      width: 100vw;
      height: 100%;
      z-index: -1;
    }
  }

  @include mq($lg) {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    top: 50px;
    left: 50%;
    width: 100%;
    max-width: 1170px;
    transform: translateX(-50%);
    z-index: 3;
    border: 2px solid #A5DFF8;
    transition: all .2s ease-in-out 0s, visibility 0s ease-in-out .15s, z-index 0s linear 10ms;
  }

  .menu-item:hover & {
    @include mq($lg) {
      visibility: visible;
      opacity: 1;
      z-index: 3;
      transition-delay: 0s, 0s, .3s;
    }
  }
}

.c-mega-menu {
  display: flex;
  flex-wrap: wrap;

  @include mq($max: $lg) {
    flex-direction: column;
    align-items: center;
  }

  @include mq($lg) {
    margin: 0 -9px;
  }
}

.c-mega-menu__item {

  @include mq($max: $lg) {
    width: 100%;
    max-width: 275px;
    box-sizing: border-box;
  }

  @include mq($lg) {
    width: 20%;
    padding: 9px;
  }
}