.c-post {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover {
    box-shadow: 4px 4px 15px rgb(0 0 0 / 15%);
  }
}

.c-post__body {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.c-post__title {
  margin-bottom: 10px;
  @include font(mid-large, 22, 700);
}

.c-post__excerpt {
  margin-bottom: 15px;
}

.c-post__btn {
  display: block;
  padding: 16px 15px 14px;
  margin-top: auto;
  @include font(base, 16, 700);
  color: #fff;
  border: 2px solid palette(primary);
  border-radius: 6px;
  background: palette(primary);
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: transparent;
    color: palette(primary);
  }
}

.c-post__thumbnail {
  img {
    width: 100%;
  }
}