.c-search-form {

}

.c-search-form__form {
  position: relative;
}

.c-search-form__input {
  display: block;
  padding: 12px 16px 12px 36px;
  max-width: 100%;
  width: 245px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: width 0.2s linear;

  @include mq($lg) {
    width: 112px;
  }

  &:focus{
    width: 240px;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: palette(secondary, 400);
    font-weight: 300;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: palette(secondary, 400);
    font-weight: 300;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: palette(secondary, 400);
    font-weight: 300;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: palette(secondary, 400);
    font-weight: 300;
  }
}

.c-search-form__submit {
  padding: 0;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  background: transparent;
  cursor: pointer;

  svg{
    max-width: 20px;
  }
}