input[type="text"], input[type="email"], input[type="tel"], input[type="password"], textarea, select {
  display: block;
  width: 100%;
  padding: 12px;
  @include font(base, 18, 400);
  border: 1px solid palette(secondary, 400);
  border-radius: 6px;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: palette(secondary, 400);
    font-weight: 300;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: palette(secondary, 400);
    font-weight: 300;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: palette(secondary, 400);
    font-weight: 300;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: palette(secondary, 400);
    font-weight: 300;
  }

  &:active, &:focus {
    border-color: palette(primary);
  }
}

textarea {
  resize: vertical;
}

form{
  .select2-container--default{
    .select2-selection--single{
      height: 45px;
      margin: 0;

      .select2-selection__arrow{
        height: 45px;
      }
      .select2-selection__rendered{
        line-height: 45px;
      }
    }
  }
}

