div.c-product-card {
  &.product {
    padding: 0 12px 12px;
    transition: all 0.3s ease-in-out;
    background: #fff;

    @include mq($md) {
      padding: 0 12px 12px;
    }

    .star-rating {
      margin-top: 15px;
      float: none;
    }

    .price {
      margin-top: 15px;
    }

    .star-rating + .price {
      min-height: 44px;
    }

    img.attachment-woocommerce_thumbnail {
      width: calc(100% + 24px);
      max-width: calc(100% + 24px);
      margin: 0 -12px;
    }

    &:hover {
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    }

    .onsale {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      top: 5px;
      left: 5px;
      width: 50px;
      height: 50px;
      @include font(small, 14, 900);
      background: palette(secondary);
      color: #fff;

      span {
        display: block;
      }

      @include mq($md) {
        @include font(base, 18, 900);
        top: -12px;
        left: -12px;
        width: 75px;
        height: 75px;
      }
    }

    .woocommerce-loop-product__title {
      margin-top: 20px;
      //padding-right: 30px;
      @include font(base, 18, 700);
      color: #000;
    }

    span.price {
      display: flex;
      align-items: center;
      flex-grow: 1;
      align-items: flex-end;

      @include mq($max: $md) {
        // flex-direction: column;
        justify-content: center;
      }

      del {
        .amount {
          @include font(l-small, 16, 500);
          color: palette(secondary, 400);
        }
      }

      ins {
        display: block;
        text-decoration: none;

        .amount {
          @include font(mid-large, 24, 900);
          color: #000;

          @include mq($md) {
            @include font(large, 28, 900);
          }
        }
      }

      & > .amount {
        @include font(mid-large, 24, 900);
        color: #000;
        margin-right: 5px;

        @include mq($md) {
          @include font(large, 28, 900);
        }

        &:not(:first-child) {
          margin-right: 0;
          margin-left: 5px;
        }
      }
    }

    &.sale {
      span.price {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        align-items: flex-end;

        @include mq($lg) {
          flex-direction: row;
          justify-content: start;
        }

        del {
          color: #C4C4C4;
        }
      }
    }

    a.button, .cwg_popup_submit {
      display: block;
      margin: 26px 0 0;
      padding: 11px 5px 9px;
      @include font(l-small, 16, 900);
      color: palette(primary);
      text-align: center;
      border: 2px solid palette(primary);
      border-radius: $border-radius-small;
      background: transparent;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        color: #fff;
        background: palette(primary);
      }

      @include mq($md) {
        padding: 21px 15px 18px;
        @include font(base, 18, 900);
      }
    }

    .cwg_popup_submit {
      width: 100%;
      background: palette(secondary, 400);
      border-color: palette(secondary, 400);
      color: #fff;

      &:hover {
        background: palette(secondary, 400);
        border-color: palette(secondary, 400);
        opacity: 0.8;
      }
    }

    .tinv-wishlist {
      right: 10px;
      left: auto !important;
      top: 0 !important;

      .tinvwl_add_to_wishlist_button {
        color: #000;

        &:before {
          font-size: 26px !important;
        }
      }
    }
  }

  .c-product-slide--sales & {
    .star-rating{
      display: none !important;
    }
    .price{
      text-align: center;
    }
  }
}

.o-products__loop {
  margin: 0 -15px;

  .search & {
    margin: 0;
  }
  
  .products {
    padding: 12px;

    @include mq($md) {
      background-color: #fff;
    }

    .c-product-card {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .woocommerce-ordering {
    margin-bottom: 0;
    padding: 30px 12px 25px;

    @include mq($md) {
      background-color: #fff;
    }

    select {
      max-width: 250px;
      margin-left: auto;
      -webkit-appearance:none;
    }
  }

  @include mq($max: $sm) {
    .products {
      grid-template-columns: 1fr 1fr !important;
    }
  }

  @include mq($min: $sm, $max: $lg) {
    .products {
      grid-template-columns: 1fr 1fr !important;
    }
  }
}

.price del {
  margin-right: 5px !important;
}