.c-slider {
  @include mq($max: $sm) {
    margin: 0 -15px;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    height: auto;
  }

  .c-product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .woocommerce-loop-product__link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.c-slider__slide {
  height: 100%;
}