.c-category-card {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.c-category-card__img {
  @include mq($lg) {
    mix-blend-mode: luminosity;
    opacity: 0.5;
  }

  img {
    margin: 0 auto;
  }

  .c-category-card:hover & {
    mix-blend-mode: normal;
    opacity: 1;
  }
}

.c-category-card__title {
  padding: 5px;
  @include font(base, 18, 900);
  color: #fff;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  background: palette(secondary, 300);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .c-category-card:hover & {
    @include mq($lg) {
      background: palette(primary);
    }
  }

  @include mq($max: $lg) {
    .c-mega-menu & {
      padding: 10px 15px;
      background-color: #fff;
      color: #000;
      @include font(l-small, 18, 300);
      border-bottom: 1px solid #E5E5E5;
      justify-content: flex-start;
      text-align: left;
    }
  }

  .c-mega-menu__item:last-child & {
    @include mq($max: $lg) {
      border-bottom: none;
    }
  }
}