.c-lang-menu {
  margin-left: 12px;

  @include mq($md) {
    margin-left: 4px;
  }

  .wpml-ls {
    width: 30px;

    @include mq($md) {
      width: 50px;
    }

    ul {
      li.wpml-ls-item {
        .wpml-ls-item-toggle {
          border: none;
          background: #fff;          

          @include mq($max: $md) {
            padding: 5px 20px 5px 0;
          }

          &:after {
            @include mq($max: $md) {
              right: 0;
              border: .25em solid transparent;
              border-top: .45em solid;
            }
          }
        }
      }
    }
  }

  .wpml-ls-legacy-dropdown {
    .wpml-ls-sub-menu {
      a.wpml-ls-link {
        @include mq($max: $md) {
          padding: 5px 2px;
        }
      }
    }
  }
}