.c-product-sidebar {
  background-color: #fff;

  @include mq(992){
    padding: 25px 15px 45px;
  }

  @include mq(992) {
    min-width: 300px;
  }

  .wpfFilterWrapper {
    margin-top: 25px;
    margin-bottom: 0;
    border-bottom: 1px solid #C4C4C4;

    &[data-filter-type] {
      padding: 25px 5px;
    }

    .ui-slider-horizontal {
      height: 4px;
      background: #C4C4C4 !important;
      border-radius: 2px !important;
      border: none !important;
    }

    .ui-widget-header {
      background: #373737 !important;
    }

    .wpfFilterTitle {
      min-height: 40px;
    }

    .wpfPriceInputs {
      margin-top: 20px;
    }

    .wpfCheckbox label {
      width: 18px !important;
      height: 18px !important;
    }
  }

  .ui-slider.ui-widget-content {
    .ui-slider-handle {
      width: 28px;
      height: 28px;
      background: #FFFFFF;
      box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12), 0px 6px 13px rgba(0, 0, 0, 0.12);
      border-radius: 100%;
      border: none !important;
    }
  }

  .ui-slider-horizontal {
    .ui-slider-handle {
      top: -12px;
    }
  }

  .wpfPriceRangeField#wpfMinPrice,
  .wpfPriceRangeField#wpfMaxPrice {
    @include font-family(base);
  }

  .wpfFilterButtons {
    padding-top: 30px;
  }

  .wpfFilterButton.wpfButton,
  .wpfClearButton.wpfButton {
    padding: 11px 5px 9px;
    @include font(l-small, 16, 900);
    color: palette(primary);
    text-align: center;
    border: 2px solid palette(primary);
    border-radius: $border-radius-small;
    background: transparent;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: palette(primary);
    }

    @include mq($md) {
      padding: 21px 15px 18px;
      @include font(base, 18, 900);
    }
  }
}

.c-sidebar__title {
  @include font(m-mid-large, 26, 500);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
}

.product-categories {
  a {
    @include font(base, 30, 300);
    letter-spacing: 0.05em;
    color: #000;
  }
}


.c-product-sidebar-filter {
  display: inline-block;
  @include mq(992) {
    display: none;
  }
}

.c-product-sidebar-filter__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.c-product-sidebar__menus {
  position: fixed;
  height: 100vh;
  overflow: scroll;
  top: 0;
  right: -3px;
  z-index: 99999;
  transform: translateX(100%);
  width: 250px;
  padding: 16px;
  background-color: #fff;
  transition: all 0.3s linear;

  .is-active & {
    transform: translateX(0);
    box-shadow: 6px 24px 34px rgba(0, 0, 0, 0.30);
  }

  @include mq(992) {
    position: static;
    height: auto;
    overflow: visible;
    transform: none;
    width: 100%;
  }
}

.c-product-sidebar__close-btn {
  margin-bottom: 50px;
}