.c-logos {

  &:not(.c-logos--columns) {
    .c-logos__item {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }
}

.c-logos--columns {
  display: grid;
  grid-template-columns: 45px 45px;
  column-gap: 8px;
  row-gap: 6px;
}