.c-wysiwyg {
  h1 {
    @include font(l-large, 42, 700);
    margin-bottom: 15px;

    @include mq($md) {
      @include font(xl-large, 62, 700);
    }
  }

  h2 {
    @include font(m-large, 36, 700);
    margin-bottom: 15px;

    @include mq($md) {
      @include font(l-large, 42, 700);
    }
  }

  h3 {
    @include font(s-large, 36, 700);
    margin-bottom: 15px;

    @include mq($md) {
      @include font(m-large, 40, 700);
    }
  }

  h4 {
    @include font(large, 28, 700);
    margin-bottom: 15px;

    @include mq($md) {
      @include font(s-large, 36, 700);
    }
  }

  h5 {
    @include font(m-mid-large, 26, 700);
    margin-bottom: 15px;

    @include mq($md) {
      @include font(large, 28, 700);
    }
  }

  h6 {
    @include font(mid-large, 24, 700);
    margin-bottom: 15px;

    @include mq($md) {
      @include font(m-mid-large, 26, 700);
    }
  }

  > ol {
    counter-reset: divas-counter;
    padding-left: 20px;
    margin-bottom: 20px;

    li {
      margin: 0 0 0.5rem 0;
      padding-left: 20px;
      counter-increment: divas-counter;
      position: relative;

      &:before {
        content: counter(divas-counter)'.';
        line-height: inherit;
        font-size: inherit;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  > ul {
    padding-left: 20px;
    margin-bottom: 20px;

    li {
      margin: 0 0 0.5rem 0;
      padding-left: 20px;
      position: relative;

      &:before {
        content: '';
        width: 6px;
        height: 6px;
        position: absolute;
        top: 9px;
        left: 0;
        background-color: palette(primary);
        border-radius: 100%;
      }
    }
  }

  .woocommerce-order {
    ul.order_details li {
      border-color: palette(primary);
    }
  }

}

