.c-header-nav {
  display: flex;
  align-items: center;

  .c-header-nav__item {
    margin-left: 12px;

    &:first-child {
      margin-left: 0;
    }

    @include mq($md) {
      margin-left: 14px;
    }
  }
}

.c-header-nav__item {
  display: inline-block;

  a[href^="tel:"] {
    @include mq($max: $md) {
      font-size: 0;
      line-height: 0;
      position: relative;
      width: 20px;
      height: 20px;
      display: block;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('../../img/icons/phone.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.c-header-nav__link {
  display: block;
  color: #000;
  width: 20px;
  height: 20px;

  @include mq($md) {
    width: auto;
    height: auto;
  }
}

.c-header-nav__icon {

}

.c-header-nav__cart-btn {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 6px;
  background: #000;
  overflow: hidden;
  letter-spacing: 0.05em;

  @include mq($md) {
    border: 2px solid #000;
  }

  .amount{
    margin-right: 5px;

    @include mq($md) {
      margin-right: 12px;
    }
  }
  .woocommerce-Price-currencySymbol {
    margin-left: 2px;
  }

  .woocommerce-Price-amount {
    @include font(base, 19, 400);
    letter-spacing: 0.05em;
  }
}

.c-header-nav__cart-btn-icon {
  margin-right: 5px;
  padding: 5px;
  background: #fff;

  @include mq($md) {
    padding: 8px;
    margin-right: 12px;
  }

  svg {
    width: 20px;
    height: 20px;

    @include mq($md) {
      width: 25px;
      height: 25px;
    }
  }
}