.c-timer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 0 32px 0;
}

.c-timer__title {
  margin-bottom: 8px;
  @include font(s-large, 33, 900);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.c-timer__time {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0 10px;
  border: 1px solid #000;

  div {
    padding: 4px;
    @include font(m-mid-large, 22, 500);

    &:not(:last-child) {
      position: relative;

      &:after {
        content: ":";
        margin-left: 6px;
      }
    }
  }
}

.c-timer__labels {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 20px;

  div {
    width: 25%;
    padding: 0 6px;
    @include font(small, 14, 300);
    color: palette(secondary, 400);
  }
}


.c-timer__footer {
  margin-top: 42px;
  padding: 36px 28px 33px 28px;
  background: palette(secondary);
  border-radius: 0 0 25px 25px;
}

.c-timer__footer-title {
  @include font(s-large, 33, 700);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.c-timer__btn {
  display: block;
  margin: 26px 0 0;
  padding: 21px 15px 18px;
  @include font(base, 18, 900);
  color: #fff;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 6px;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}