/** =====================================================================================
 *  Defines the typographic baseline.
 *  We define every size in pixels, the underlying system converts the
 *  respective units to the responsive REM value.
 ===================================================================================== */

/**
 * Our base font-size and line-height
 */
$base-font-size: 16 !default;
$base-line-height: 24 !default;
$line-height-ratio: $base-line-height/$base-font-size !default;

$font-sizes: (
        m-small: 10,
        m2-small: 11,
        small: 12,
        l-small: 14,
        base: $base-font-size,
        mid: 18,
        mid-large: 20,
        m-mid-large: 22,
        large: 24,
        s-large: 28,
        m-large: 32,
        l-large: 36,
        xl-large: 56,
);

/**
 *	Here we assign short names for the font families
 */
$font-roboto: 'Roboto', sans-serif;


$_font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-families: (
        base: $font-roboto,
  // Fallback font
        system: $_font-system
);

