/**
 *  Global color variables.
 *	The underscore Never use them directly in the styles, only for functions and mixins.
 */

$_color-primary-500: #A5DFF8 !default;

$_color-secondary-200: #F9F9FA !default;
$_color-secondary-300: #e5e5e5 !default;
$_color-secondary-400: #C4C4C4 !default;
$_color-secondary-500: #FF1C45 !default;

$_color-text-500: #000000 !default;
/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
$palettes: (
        'primary': (
                base: $_color-primary-500,
        ),
        'secondary': (
                200:$_color-secondary-200,
                300:$_color-secondary-300,
                400:$_color-secondary-400,
                base: $_color-secondary-500,
        ),
        'text': (
                base: $_color-text-500,
        ),
);

