/* ==========================================================================
   Config settings
   ========================================================================== */

//  Main container width
$container-width : 1230px;
$container-width-wide: 1280px;

// Default border radius values
$border-radius-small: 				6px;
$border-radius-medium: 				8px;
$border-radius-large: 				16px;

// Predefined breakpoint
$xl : 1200;
$lg : 992;
$md : 768;
$sm : 576;

$laptop : 1440px;

$wide : 75em;


