.s-single-post {
  @include mq($lg) {
    padding-top: 50px;
  }
}

.s-single-post__title {
  margin: 15px 0;
  @include font(large, 26, 700);

  @include mq($md) {
    margin: 30px 0;
    @include font(l-large, 40, 700);
  }
}

.s-single-post__content {
  padding: 20px 0 70px;

  @include mq($md) {
    padding: 40px 0 90px;
  }
}