.s-banner-slider {
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 80px 0;
    min-height: 200px;

    @include mq($md) {
      min-height: 380px;
    }
  }

  .swiper-pagination {
    bottom: 40px;

    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      background: transparent;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background: #fff;
      }
    }
  }
}

.s-banner-slider__btn {
  display: inline-block;
  padding: 24px 36px;
  @include font(base, 18, 900);
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: $border-radius-small;
  transition: all 0.2s ease-in-out;
  &:hover{
    opacity: 0.9;
  }
}