.s-blog {
  padding: 30px 0 90px;

  @include mq($lg) {
    padding: 60px 0 90px;
  }
}

.s-blog__intro {
  margin-bottom: 20px;

  @include mq($md) {
    margin-bottom: 40px;
  }
}

.s-blog__title {
  @include font(xl-large, 60, 700);
}

.s-blog__pagination {
  .navigation.pagination {
    margin: 30px 0;

    .nav-links {
      .page-numbers {
        color: palette(text);

        &.current {
          color: palette(primary);
        }
      }
    }
  }
}