.s-sliders {
  padding: 20px 0;

  @include mq(768) {
    padding: 35px 0;
  }

  @include mq(992) {
    padding: 45px 0;
  }

  .c-intro-title {
    margin-bottom: 0;
  }

  .c-slider__slider{
    padding: 20px 0;

    @include mq($md) {
      padding: 20px 12px;
    }
  }
}

.s-sliders__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 16px;

  @include mq(768) {
    margin-bottom: 32px;
  }

  .c-intro-title {
    text-transform: uppercase;
  }

  .s-sliders__nav {
    display: flex;
    align-items: center;
    margin: 0 -6px;
    padding-bottom: 8px;

    @include mq(768){
      margin: 0 -10px;
      padding-bottom: 10px;
    }

    .swiper-button-prev, .swiper-button-next {
      display: inline-block;
      padding: 0 6px;
      position: static;
      margin: 0;
      height: auto;
      width: auto;
      color: palette(secondary, 400);

      @include mq(768){
        padding: 0 10px;
      }

      &:after {
        display: none;
      }
    }

    .swiper-button-prev {
      svg {
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }
  }
}