.s-wishlist {
  padding: 80px 0;

  .tinv-header {
    h2 {
      @include font(m-mid-large, 26, 700);
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }

  .tinvwl-table-manage-list {
    border-collapse: collapse;
    thead {
      th {
        color: #C4C4C4;
        @include font(small, 14, 700);
      }
    }

    .wishlist_item {
      @include mq($max: $md) {
        border: 1px solid #E5E5E5;
      }

      td {

        @include mq($md) {
          border-top: 1px solid #E5E5E5;
          border-bottom: 1px solid #E5E5E5;
        }

        &:first-child {
          @include mq($md) {
            border-left: 1px solid #E5E5E5;
          }
        }

        &:last-child {
          @include mq($md) {
            border-right: 1px solid #E5E5E5;
          }
        }
      }
      .product-name {
        a {
          color: #000000;
          @include font(l-small, 16, 400);
        }
      }

      .product-price {
        @include font(base, 18, 400);
      }

      .product-action {
        button.button.alt {
          display: inline-block;
          padding: 10px 15px 8px;
          min-width: 180px;
          background-color: palette(primary);

          @include mq($min: $md, $max: $lg) {
            min-width: 50px;
            padding: 16px 15px 14px;
          }

          &:hover {
            background-color: transparent;
            color: palette(primary);
          }
        }
      }
    }

    tfoot {
      td {
        padding: 40px 0;
      }

      .tinvwl-to-left {
        select.form-control {
          width: 150px;
          height: 40px;
          border-radius: 0;
          padding: 2px 12px;

          @include mq($md) {
            width: 200px;
            height: 51px;
          }
        }

        .tinvwl-input-group {
          margin-bottom: 20px;

          @include mq($lg) {
            margin-bottom: 0;
          }
        }

        .tinvwl-input-group-btn {
          padding-left: 18px !important;

          button[type="submit"] {
            padding: 10px 15px 8px;

            @include mq($md) {
              padding: 16px 15px 14px;
            }
            &:hover {
              background-color: transparent;
              color: palette(primary);
            } 
          }
        }
      }

      .tinvwl-to-right {
        margin-top: 0;

        @include mq($md) {
          text-align: right;
        }

        button[type="submit"] {
          display: inline-block;
          padding: 10px 15px 8px;

          @include mq($md) {
            margin-left: 20px;
            padding: 16px 15px 14px;          
          }

          &:hover {
            background-color: transparent;
            color: palette(primary);
          } 
        }
      }
    }
  }
}