.s-instagram {
  padding: 70px 0;
  background: rgba(229, 229, 229, 0.3);

  #sbi_mod_error {
    float: none; // temp
  }
}

.s-instagram__grid {
  display: flex;
}

.s-instagram__column {
  width: 25%;
}

.s-instagram__column--wide {
  width: 75%;
}

.s-instagram__title {
  max-width: 220px;
  margin: 0 auto 14px;
  @include font(m-mid-large, 26, 500);
  color: palette(text);
  text-align: center;
  text-transform: uppercase;
}

.s-instagram__icon {
  width: 42px;
  margin: 0 auto;
}