.s-newsletter {
  padding: 70px 0;
  background: palette(primary);
}

.s-newsletter__title {
  margin-bottom: 24px;
  @include font(m-mid-large, 26, 500);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.s-newsletter__content {
  p {
    @include font(base, 26, 300);
    letter-spacing: 0.04em;
  }
}

.c-newsletter {
  display: flex;

  input[type="email"] {
    width: calc(100% - 140px);
    display: block;
    padding: 15px;
    @include font(base, 18, 300);
    color: palette(secondary, 400);
    border: 2px solid #fff;
    border-radius: 6px 0 0 6px;
    outline: none;
    -webkit-appearance: none;

    @include mq($md) {
      padding: 24px;
    }
  }

  input[type="submit"] {
    width: 140px;
    @include font(base, 16, 900);
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 2px solid #000;
    background: #000;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none;

    &:hover{
      opacity: 0.9;
    }
  }

}