.archive {
  background: palette(secondary, 200);
}

.page-template-default {
  .site-main {
    padding: 20px 0 40px;

    @include mq($md) {
      padding: 40px 0 60px;
    }

    @include mq($lg) {
      padding: 60px 0 80px;
    }

    img {
      margin-bottom: 20px;

      @include mq($md) {
        margin-bottom: 30px;
      }
  
      @include mq($lg) {
        margin-bottom: 40px;
      }
    }
  }
}