.o-footer {

}

.o-footer__main {
  padding: 40px 0;
  background: palette(secondary, 400);
}

.o-footer-navigations {
  display: flex;
  margin: 0 -15px;
}

.o-footer-navigations__column {
  padding: 0 15px;
}

.o-footer-logos {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 25px;

  @include mq($md) {
    padding-top: 0;
    gap: 40px;
  }
}