.o-header {
  position: relative;
  z-index: 99;
}

.o-header__top {
  padding: 14px 0 11px;
  background: palette(secondary, 400);
}

.o-header__main {
  padding: 28px 0;
  background: #fff;
}

.o-header__top-message {
  @include font(l-small, 18, 400);
  color: #fff;
  letter-spacing: 0.05em;

  @include mq($md) {
    @include font(mid, 21, 400);
  }

  p {
    margin: 0;
  }
}

.o-header__main-left {
  display: flex;
  align-items: center;
}

.o-header__logo {  
  width: 150px;
  margin: 0 auto 20px;

  @include mq($md) {
    width: 220px;
    margin: 0 50px 0 0;
  }

  img.custom-logo{
    width: 100%;
  }
}

.o-header__menu {
  background: palette(primary);  
  position: relative;

  @include mq($max: $lg) {
    overflow: hidden;
    width: 100%;
    position: absolute;
    display: none;
  }
}

.o-header__nav {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq($lg) {
    justify-content: flex-end;
  }
}

.o-header__btn {
  width: 25px;
  height: 25px;
  padding: 3px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 1px;
    transition: all 0.2s linear;
  }

  &.active {
    span:nth-child(1) {
      transform: rotate(45deg);
      margin-top: 9px;
    }
    span:nth-child(2) {
      width: 0;
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
      margin-bottom: 9px;
    }
  }
}

.o-header__search {
  flex-grow: 1;
}