.woocommerce-account {
  .site-main {
    padding: 90px 0;
  }

  #customer_login {
    .u-column1, .u-column2 {
      max-width: 100%;
      flex: 0 0 100%;
      @include mq(768) {
        max-width: 48%;
        flex: 0 0 48%;
      }
    }
  }

  .woocommerce-MyAccount-navigation {
    ul {
      li.woocommerce-MyAccount-navigation-link {
        a {
          text-transform: uppercase;
          @include font(m-mid-large, 44, 300);
          color: #000;
        }

        &.is-active {
          a {
            font-weight: 700;
          }
        }
      }
    }
  }

  form.woocommerce-EditAccountForm {
    .woocommerce-form-row {
      margin: 0 0 12px;
    }

    fieldset {
      border: none;
      padding: 0;
    }
  }
}

.woocommerce-Addresses {
  .woocommerce-Address {
    flex: 0 0 48%;
    max-width: 48%;
  }
}

.woocommerce {
  form {
    .form-row {
      margin-bottom: 20px;
      label {
        @include font(l-small, 16, 300);
        letter-spacing: 0.05em;
        color: #313131;
        margin-bottom: 10px;
      }
    }
  }
  
  #customer_login {
    h2 {
      @include font(m-mid-large, 22, 500);
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }

  form.login,
  form.register {
    border: none;
    padding: 0;

    .woocommerce-form-login__rememberme {
      display: block;
      margin-bottom: 15px;
    }

    .lost_password {
      a {
        color: #C4C4C4;
        font-weight: 300;
      }
    }

    .woocommerce-privacy-policy-text {
      @include font(l-small, 16, 300);
      color: #C4C4C4;
    }

    .woocommerce-form-register__submit,
    .woocommerce-form-login__submit {
      &:hover {
        background-color: transparent;
        color: palette(primary);
      }
    }
  }
}

.woocommerce {
  .woocommerce-orders-table {
    .woocommerce-button.button.view {
      background-color: palette(primary);
      color: #fff;
    }
  }
}