.woocommerce-ordering {
  float: none !important;

  select {
    margin-left: auto;
  }
}

.o-products__categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 0 0 64px;

  .c-category-card__wrap {
    padding: 15px;
    width: 50%;

    @include mq($md) {
      width: 33.33%;
    }
  }

  .c-category-card__title {
    background-color: #fff;
    color: #000;
    @include font(base, 18, 300);
  }

  .c-category-card:hover {
    .c-category-card__title {
      background-color: #fff;
      font-weight: 500;
    }
  }

  .c-category-card__img {
    img {
      width: 100%;
    }
  }
}

.archive {
  &.woocommerce {
    .products {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 12px;
      row-gap: 16px;

      @include mq($max: $md) {
        display: flex;
        column-gap: 0;
        row-gap: 16px;
      }
    }

    div.c-product-card.product {
      max-width: 100%;      
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mq($max: $md) {
        height: auto;
        min-width: 50%;
        max-width: 50%;

        &:nth-child(odd) {
          margin: 0 6px 16px -6px;
        }

        &:nth-child(even) {
          margin: 0 -6px 16px 6px;
        }
      }
    }
  }

  .woocommerce-pagination {
    margin: 40px 0;

    ul.page-numbers {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        border: none;

        &:not(:last-child) {
          margin-right: 6px;
        }

        .page-numbers {
          padding: 6px 8px;
          color: #000;

          &:hover, &:active, &:focus {
            color: #fff;
            background: palette(primary);
          }

          &.current {
            font-weight: 700;
            color: #fff;
            background: palette(primary);
          }
          svg{
            max-width: 12px;
          }
          &.prev{
            svg{
              transform: rotate(180deg);
            }
          }
          &.prev,&.next{
            padding: 8px 7px;
          }
        }
      }
    }
  }
}

.woocommerce-products-header__title.page-title {
  margin: 20px 0;
  @include font(large, 28, 700);

  @include mq($md) {
    margin: 20px 0 70px;
    @include font(l-large, 40, 700);
  }
}

.archive.woocommerce {
  .products {
    @include mq($max: $md) {
      padding: 0;
    }
  }
}