.woocommerce {
  .woocommerce-breadcrumb-wrapper {
    .woocommerce-breadcrumb {
      @include font(base, 19, 300);
      margin-bottom: 0;
      color: palette(secondary, 400);

      a {
        color: palette(secondary, 400);
      }

      span, a {
        @include font(base, 19, 300);
        letter-spacing: 0.1em;
      }
    }
  }
}
