.woocommerce-cart-form {
  margin-top: 50px;
}

.woocommerce {  
  table.shop_table.cart {
    border-radius: 0;
    @include mq($md) {
      border: none;
    }

    a.remove {
      color: #000 !important;
      border: 2px solid #000;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      @include font(l-small, 18, 400);
      margin: auto;

      &:hover {
        background-color: #000;
        color: #fff !important;
      }
    }

    thead {
      th {
        color: #C4C4C4;
        @include font(l-small, 16, 400);
      }
    }

    .woocommerce-cart-form__cart-item {

      td {
        font-weight: 500;
      }

      td:first-of-type {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: 100%;
          background-color: #E5E5E5;
        }
      }

      td:last-of-type {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          background-color: #E5E5E5;
        }
      }

      .product-thumbnail {
        img {
          width: 50px;
        }
      }

      .product-name {
        @include font(l-small, 16, 700);
        a {
          color: #000;
        }
      }

      .product-quantity {
        .qty {
          border: 1px solid #E5E5E5;
          border-radius: 0;
          width: 80px;
          height: 40px;
          -webkit-appearance:none;
        }
      }
    }

    td.actions  {
      padding: 25px 15px;

      @include mq($md) {
        padding: 25px 0;
      }

      .coupon {
        .input-text {
          width: 150px !important;
          height: 41px;
          border-radius: 0;
          margin-right: 15px;

          @include mq($max: $md) {
            width: 45% !important;

          }

          @include mq($md) {
            height: 60px;
          }

          &:focus {
            border-color: #7f7f7f;
          }
        }

        button[type=submit] {
          &:hover {
            color: #A5DFF8;
            background: #fff;
          }
        }
      }

      > button[type=submit] {
        margin-left: auto;
        padding: 10px 15px 8px !important;

        @include mq($md) {
          padding: 21px 15px 18px !important;
        }

        &:hover {
          color: #A5DFF8;
          background: #fff;
        }

        &:disabled {
          color: #fff;

          &:hover {
            background-color: #A5DFF8;
          }
        }
      }
    }
  }

  .cart_totals {
    table.shop_table {
      margin-top: 20px;
      border-radius: 0;

      th {
        width: 70%;
      }
    }

    tr th,
    tr td {
      border-top: none !important;
      padding: 20px 25px;
    }
  }

  .wc-proceed-to-checkout {
    padding: 30px 0 80px;
    text-align: right;

    a.checkout-button {
      display: inline-block;
      min-width: 250px;
      margin: 0;
      padding: 10px 10px 8px;
      @include font(base, 18, 900);
      color: #fff;
      text-align: center;
      border: 2px solid palette(primary);
      border-radius: $border-radius-small;
      background: palette(primary);
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      box-sizing: border-box;
      cursor: pointer;

      @include mq($md) {
        padding: 21px 15px 18px;
      }

      &:hover {
        color: palette(primary);
        background: transparent;
      }
    }
  }
}