.woocommerce {
  .woocommerce-checkout {
    h3 {
      @include font(m-mid-large, 26, 700);
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    input.input-text,
    textarea,
    .select2-container--default .select2-selection--single {
      border: 1px solid #C4C4C4;
      border-radius: 0;

      &:focus {
        border-color: palette(primary);
      }
    }

    textarea {
      height: 200px !important;
      resize: none;
    } 

    h3#order_review_heading {
      margin-top: 45px;
    }

    table.shop_table.woocommerce-checkout-review-order-table {
      border-radius: 0;

      thead {
        th {
          padding-top: 25px;
        }
      }

      tfoot {
        th {
          padding-bottom: 25px;
        }
      }

      td, th {
        border: none;

        &:first-child {
          padding-left: 25px;
        }

        &:last-child {
          padding-right: 25px;
        }
      }

      td.product-name {
        @include font(l-small, 16, 400);
      }

      .product-total {
        text-align: right;
      }

      .cart-subtotal,
      .order-total {
        td {
          text-align: right;
        }
      }
    }

    #payment {
      background: #F9F9FA;
      border-radius: 0;

      .place-order {
        #place_order {
          display: inline-block;
          min-width: 250px;
          margin: 0;
          padding: 21px 15px 18px;
          @include font(base, 18, 900);
          color: #fff;
          text-align: center;
          border: 2px solid palette(primary);
          border-radius: $border-radius-small;
          background: palette(primary);
          text-transform: uppercase;
          transition: all 0.2s ease-in-out;
          box-sizing: border-box;
          cursor: pointer;

          &:hover {
            color: palette(primary);
            background: transparent;
          }
        }
      }
    }
  }

  form.checkout_coupon {
    border: 1px solid #E5E5E5;
    border-radius: 0;

    input.input-text {
      border-radius: 0;
      height: 61px;
    }
  }
}