.comment_container {
  .comment-text {
    display: flex;
    flex-direction: column;
    padding-top: 0 !important;
    border: none !important;

    .meta {
      order: 1;
      margin-bottom: 5px !important;

      .woocommerce-review__author {
        @include font(l-small, 18, 700);
        color: palette(text);
      }
    }

    .star-rating {
      order: 2;
    }

    .description {
      order: 3;
      @include font(small, 14, 400);
      color: palette(text);
    }

    .star-rating {
      margin-bottom: 20px;
    }
  }
}

body.woocommerce #reviews #comments ol.commentlist li img.avatar {
  width: 50px;
  border-radius: 50%;
}


.single-product {
  .woocommerce-product-rating {
    .woocommerce-review-link {
      display: inline-block;

      .woocommerce-product-rating__count {
        float: right;
        color: palette(secondary);
        @include font(small, 32, 400);
        margin-left: 15px;

        @include mq(768) {
          @include font(l-small, 32, 400);
        }

        & + .container-rating {
          display: inline-block;
        }
      }
    }
  }

  #review_form {
    #reply-title {
      display: none;
    }

    #commentform {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      input[type="submit"] {
        min-width: 180px;
        padding: 21px 15px 18px;
        @include font(base, 18, 700);
        color: #fff;
        text-align: center;
        border: 2px solid palette(primary);
        border-radius: $border-radius-small;
        background: palette(primary);
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
          color: palette(primary);
          background: #fff;
        }

        -webkit-appearance: none;
      }

      .comment-form-rating {
        order: 6;
        width: 300px;
        display: flex;

        label {
          @include font(l-small, 16, 700);
          margin-right: 8px;
        }

        a {
          color: palette(text);
        }
      }

      .comment-notes {
        width: 100%;
        order: 1;
        @include font(l-small, 16, 400);
      }

      .comment-form-comment {
        order: 2;
        width: 100%;
      }

      .comment-form-author {
        width: 100%;
        order: 3;

        @include mq(768) {
          width: 50%;
          padding-left: 7.5px;
        }
      }

      .comment-form-email {
        width: 100%;
        order: 4;

        @include mq(768) {
          width: 50%;
          padding-left: 7.5px;
        }
      }

      .comment-form-cookies-consent {
        order: 5;
        width: 100%;
        line-height: 0;

        input[type="checkbox"] {
          opacity: 0;
          visibility: hidden;
          width: 0;
          height: 0;
          margin: 0;
        }

        label {
          position: relative;
          display: block;
          padding-left: 22px;
          @include font(m-small, 16, 400);
          color: #000;
          cursor: pointer;

          &:after, &:before {
            content: '';
            position: absolute;
          }

          &:after {
            left: 5px;
            top: 2px;
            width: 4px;
            height: 8px;
            border: solid palette(text);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0;
          }

          &:before {
            top: 0;
            left: 0;
            display: block;
            width: 15px;
            height: 15px;
            background-color: #fff;
            border: 1px solid #000;
            transition: all 0.2s ease-in-out;
          }
        }

        input[type='checkbox']:checked + label {
          font-weight: 400;

          &:after {
            opacity: 1;
          }

          &:before {
            background-color: #fff;
          }
        }
      }

      .form-submit {
        order: 7;
        width: 100%;
        text-align: center;

        @include mq(768) {
          width: calc(100% - 300px);
          text-align: right;
        }
      }
    }
  }
}

#review_form_wrapper {
  padding-top: 40px;
}


.woocommerce-Reviews {
  .woocommerce-Reviews-title {
    margin-bottom: 30px;
  }
}