body.woocommerce {
  .site-content {
    padding: 45px 0;
  }
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: 100%;
  flex: 0 0 100%;
  @include mq(768) {
    max-width: 48%;
    flex: 0 0 48%;
  }
}


body.woocommerce,
body .c-product-card {
  .star-rating {
    font-size: 12px;

    span {
      color: #000;
    }
  }
}


.woocommerce div.product form.cart .button,
.woocommerce .woocommerce-Button.button,
.woocommerce button.button,
.woocommerce a.button.wc-backward,
.cwginstock-subscribe-form .cwgstock_button{
  display: block;
  min-width: none;
  margin: 0;
  padding: 10px 10px 9px;
  @include font(base, 18, 900);
  color: palette(primary);
  text-align: center;
  border: 2px solid palette(primary);
  border-radius: $border-radius-small;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: palette(primary);
  }

  @include mq($md) {
    min-width: 150px;
    padding: 21px 15px 18px;
  }

  @include mq($xl) {
    min-width: 250px;
  }
}

.woocommerce .woocommerce-Button.button,
.woocommerce button.button,
.woocommerce a.button.wc-backward,
.cwginstock-subscribe-form .cwgstock_button {
  color: #fff;
  background: palette(primary);
}

.woocommerce a.button.wc-backward {
  display: inline-block;
  margin: 50px 0;
}

.woocommerce div.product {
  p.price, span.price {
    color: #000;
  }
}

.woocommerce-message,
.woocommerce-info {
  border-top-color: palette(primary);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:before {
    color: palette(primary);
  }

  .button {
    order: 2;
    margin-top: 15px !important;
  }
}

.woocommerce-error {
  border-top-color: #C4C4C4;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:before {
    color: #C4C4C4;
  }

  .button {
    order: 2;
    margin-top: 15px !important;
  }
}
.woocommerce form .form-row.woocommerce-validated .select2-container, 
.woocommerce form .form-row.woocommerce-validated input.input-text, 
.woocommerce form .form-row.woocommerce-validated select {
  border-color: #C4C4C4;
}


body{
  ul.products .spinner, .la-spinner, .wpfIconPreview .spinner, .wpfLoaderIconTemplate .spinner, .woobewoo-filter-loader.spinner{
    background: url("../../img/global/ajax-loading.svg");
    background-size: 100%;
    background-repeat-y: no-repeat;
  }
}
