.cwginstock-subscribe-form{
  .panel{
    border: none !important;
    box-shadow: none !important;
    .panel-heading{
      display: none !important;
    }
    .form-group{
      br:nth-child(2){
        display: none;
      }
    }
  }
}

.swal2-close:focus{
  box-shadow: none !important;
}