.woocommerce-search-loop {
  padding-top: 40px;

  .o-products__loop & .products .c-product-card {
    height: auto;
    margin-bottom: 20px;

    &:hover {
      z-index: 3;
    }

    .woocommerce-loop-product__link {
      flex-grow: 1;
    }

    .woocommerce-loop-product__title {
      @include mq($max: $sm) {
        @include font(l-small, 18, 700);
      }
    }
  }
}