body.single-product.woocommerce {
  background: palette(secondary, 200);

  .site-content {
    padding-top: 0;
  }

  .woocommerce-variation-availability{
    margin-bottom: 32px;
  }
  p.stock {
    &.out-of-stock {
      @include font(mid, 20);
    }
  }

  .cwg_popup_submit{
    display: block;
    min-width: 250px;
    margin: 0;
    padding: 21px 15px 18px;
    font-size: 1rem;
    line-height: 1.125;
    font-weight: 900;
    color: #fff;
    text-align: center;
    border: 2px solid palette(secondary,400);
    border-radius: 6px;
    background: palette(secondary,400);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
  }

  .woocommerce-variation-price {
    margin-bottom: 20px;

    .price {
      color: #000;
      @include font(large, 26, 700);
    }
  }

  .woocommerce-breadcrumb-wrapper {
    padding: 45px 0;
  }

  .o-single-product__title {
    margin-bottom: 12px;
    @include font(mid, 21, 300);
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  .woocommerce-product-rating {
    margin-bottom: 18px;

    .woocommerce-product-rating__count {
      display: none !important;
    }

    .container-rating {
      .star-rating {
        margin: 0;
        font-size: 16px;

        &:before {
          color: palette(text);
        }
      }
    }
  }

  p.price {
    @include font(large, 28, 900);
    color: palette(text);
  }

  .woocommerce-notices-wrapper {
    @extend .container;

    & > div {
      margin-bottom: 50px;
    }
  }

  .o-single-product__img {
    position: relative;

    .woocommerce-product-gallery {
      display: flex;
      flex-direction: column;

    }
  }

  .yith-wcwl-add-to-wishlist {
    margin: 0 0 16px 0;
  }

  .yith-wcwl-add-button {
    text-align: right;

    i {
      font-size: 22px;
    }
  }

  #content {
    .o-single-product {
      //padding-top: 50px;

      div.woocommerce-product-gallery, .summary.entry-summary {
        // padding-top: 22px;
        float: none;
        width: 100%;

        @include mq($md) {
          padding-top: 22px;
        }
      }

      .product_title {

      }

      .summary {
        .price {

        }
      }

      .woocommerce-product-details__short-description {
        margin: 32px 0;
        @include font(base, 24, 300);
      }
    }
  }

  .button.button[type="submit"] {

  }

  .o-single-product__whish {
    position: absolute;
    right: 15px;
    top: -8px;

    @include mq(768) {
      top: -16px;
      left: 0;
      right: auto;
      transform: translateY(-100%);
      width: 100%;
      text-align: right;
      margin-bottom: 0;
      padding: 0 15px;
    }

    .tinvwl_add_to_wishlist_button {
      text-transform: uppercase;
      color: palette(text);
      @include font(l-small, 16, 400);

      @include mq(768) {
        @include font(base, 16, 400);
      }

      &:hover {
        color: palette(text);
      }
    }
  }

  .tinv-wishlist {
    .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before {
      font-size: 26px;

      @include mq(768) {
        font-size: 32px;
      }
    }
  }

  .tinvwl-product-make-remove {
    .tinvwl_remove_from_wishlist-text {
      color: #000;
    }
  }

  form.cart {
    div.quantity {
      margin: 0 22px 0 0;

      @include mq($md) {
        margin: 20px 22px 0 0;
      }

      .qty {
        width: 80px;
        height: 40px;
        border: 1px solid palette(secondary, 400);
        background-color: transparent;
        -webkit-appearance:none;
      }
    }
  }

  .flex-control-nav {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    gap: 8px;

    li {
      a {
        display: block;
        font-size: 0;
        width: 15px;
        height: 15px;
        border: 2px solid palette(primary);
        border-radius: 50%;

        &.flex-active {
          background: palette(primary);
        }
      }
    }
  }

  .woocommerce-tabs {
    margin: 70px 0 90px;
    background: #fff;

    .tabs {
      padding-top: 16px !important;
      padding-bottom: 12px !important;
    }

    .woocommerce-Tabs-panel {
      max-width: 945px;
      padding: 0 20px 30px;
      margin: 0 auto !important;
      font-weight: 300;
    }
  }

  .related.products {
    margin-bottom: 36px;
  }
}


body.woocommerce .o-single-product__img .onsale {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  @include font(small, 14, 900);
  background: palette(secondary);
  color: #fff;

  span {
    display: block;
  }

  @include mq($md) {
    @include font(base, 18, 900);
    top: -8px;
    left: -12px;
    width: 75px;
    height: 75px;
  }
}

.related,
.s-recently-viewed-products {
  .c-slider__slider {
    padding: 30px 0;

    .c-product-slide {
      .c-product-card {
        width: auto;
        max-width: 100%;
        flex: 0 0 auto;
      }
    }
  }
}


.s-recently-viewed-products {

}

.woocommerce.single-product {
  div.product {
    .woocommerce-tabs {
      .tabs.wc-tabs {
        &:before {
          border-bottom: 1px solid palette(secondary, 300);
        }

        li {
          margin: 0;
          background: transparent;
          border-radius: 0;
          border: none;

          a {
            @include font(mid, 21, 300);
            text-transform: uppercase;
          }

          &:after, &:before {
            box-shadow: none;
            border-radius: 0;
          }

          &:not(:last-child) {
            &:after {
              top: 50%;
              right: 0;
              bottom: auto;
              transform: translateY(-50%);
              height: 16px;
              width: 1px;
              border-left: 1px solid #000;
            }
          }

          &.active {
            a {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.woo-variation-swatches.wvs-style-squared {
  .variable-items-wrapper {
    .variable-item:not(.radio-variable-item) {
      border-radius: 0;
      background-color: transparent;
      height: 40px;
      min-width: 40px;
      margin-right: 10px;
      box-shadow: 0 0 0 1px #E5E5E5;

      &.selected {
        box-shadow: 0 0 0 1px #000;
      }
    }
  }
}

.woocommerce {
  div.product  {
    div.images  {
      .woocommerce-product-gallery__trigger {
        top: 5px;
        right: 5px;

        @include mq($md) {
          top: 35px;
          right: 35px;
        }
      }
    }
  }
}
.woocommerce  {
  .o-single-product__img  {
    .onsale {
      top: 22px;
    }
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, 
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  border: none;
}